<<<<<<< HEAD
* {
  box-sizing: border-box;
}

body {
  font-style: normal;
  font-weight: normal;
  text-align: center;
  margin: 0;
=======
* {
  box-sizing: border-box;
}

body {
  font-style: normal;
  font-weight: bold;
  text-align: center;
  z-index: 0.4;
>>>>>>> 5f14ce5dabaa259f9b122997cbda8483c3380ed3
}